{% load static %}

<!DOCTYPE HTML>


<html>
	<head>
		<title>Zentiment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/messages_tag.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>

	<body class="is-preload">
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="{% url 'home' %}" class="logo"><strong>Zentiment</strong> <span>by Macsauce</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
							<li><a href="elements.html">Donate</a></li>
							{%  if user.is_authenticated %}
							<li><a href="{% url 'logout' %}">Logout</a></li>
							{% else %}
							<li><a href="login">Login or Sign up</a></li>
							{% endif %}
						</ul>
							
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							
						</ul>
					</nav>
					</div>
				<!-- Contact -->

                <section id="wrapper">
					<div class="main">
                    <div class="inner">
                        <section>
                            <form method="post" action="contact">
								{% csrf_token %}
								<div class="field half">
									{% if messages %}
										<ul class="messages">
											{% for message in messages %}
												<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
											{% endfor %}
										</ul>
									{% endif %}
								<br>
								</div>
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Topic</label>
                                        <input type="text" name="topic" id="topic" />
                                    </div>
									
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="6"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><input type="submit" value="Send Message" class="primary" /></li>
                                    <li><input type="reset" value="Clear" /></li>
                                </ul>
                            </form>
                        </section>
                        <section class="split">
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-phone"></span>
                                    <h3>Phone</h3>
                                    <span>(+234) 708-772 -6266</span>
                                </div>
                            </section>
                            <section>
                                <div class="contact-method">
                                    <span class="icon solid alt fa-home"></span>
                                    <h3>Address</h3>
                                    <span>Southgate, Federal University of Technology Akure,<br />
                                    Akure South, Ondo, PC:340110,<br />
                                    Nigeria.
                                </div>
                            </section>
                        </section>
					</div>
                    </div>
                </section>

                <!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/babs_rasheed" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.instagram.com/macsauce419" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/CodeLord2020" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/rasheedbabatunde-50133921a" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Zentiment</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

                		<!-- Scripts -->
		
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>


	</body>
</html>
